body {
    background-color: rgb(38, 110, 110);
    /* background-image: url(images/1_nLa-Cstqw2bW2ZWs693gBg\(1\).png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}


.paragraph {
    text-align: center;
    font-family: cursive;
    text-transform: uppercase;

    /* text-transform is use for capitalize the content */
    /* text-transform: capitalize; */
    /* text-transform: lowercase; */
    /* text-transform: none; */

    /* text-decoration is use for line decoration */
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: overline; */
    /* text-decoration: none */

}

.H2class {
    /* text-align is for alignment of the element */
    /* text-align: right; */
    /* text-align: justify; */
    /* text-align: center; */
    /* text-align: left; */
    /* text-align:end; */

    /* font-family: 'Gill Sans'; */
    /* font-style: oblique; */
    /* text-decoration:underline; */
    /* opacity:0.6; */
}

#logo {
    /* font-family: cursive; */
    /* color: blue; */
}